!!! 5
html(lang="en")
  head
    != SocketStream
    title A small SocketStream test app
  body
    #content
      h1 Just type in the text area. It will sync with everybody viewing it.
      
      textarea#text(rows=20, cols=80,placeholder="Enter your message here") 
